@import-normalize;
/* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(207, 10, 89, 0.534);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.swiper-button-next {
  color: rgb(119, 11, 92);
}

.swiper-button-prev {
  color: rgb(119, 11, 92);
}

.swiper-pagination-bullet-active {
  background-color: rgb(119, 11, 92);
}
